POSTGRES_DB=krainet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/krainet
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest

QUEUE_NAME=user.Queue
EXCHANGE_NAME=user.exchange

MAIL_USERNAME=ooorandomcompany@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587

JWT_SECRET=your_secret